@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  scroll-behavior: smooth;
}

.Pac{
  font-family: "Pacifico";
}

.Aclonica{
  font-family: "Aclonica";
}

.Alkatra{
  font-family: "Alkatra";
}

.autumn{
  font-family: "Autumn Flowers";
}

.bg{
  background: url(../src/assets/bg.jpg);
}

.shadow{
  box-shadow: 0 0 10px 3px yellow;
}